.Stock {
    display: inline-flex;
    align-items: left;
    height: 9em; /* 7em and 14em might look better if not adding a line to the bottom*/
    width: 16em;
    background-color: white;
    border-radius: 0.2em;
    margin-right: 0;
    margin-bottom: 0;
}

.removeButton {
    margin-right: 2em;
    margin-top: 2em;
}

.Stock-action {
    cursor: pointer;
    font-size: 1.05rem;
    transition: background-color .25s;
    border: 0px;
    background-color: #e6c6cd;
    color: #e94568;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.1em;
    align-items: center;
}

.Stock-action:hover {
    background-color: #e96a85;
}

.Stock-information {
    text-align: left;
    border: 0;
    padding-left: 1em;
    padding-top: .5em;
    font-family: "Courier New", Courier, monospace;
}

.allocation {
    border: 0;
    text-align: right;
    outline: none;
    width: 40%;
    color: #6d757d;
    font-size: 2em;
    padding-left: 1em;
    padding-top: .5em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
}

.allocationStats h4{
    display: inline;
    text-align: left;
    color: #6d757d;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
}

.stockName {
    border: 0;
    width: 80%;
    outline: none;
    color: #97a6ad;
    font-size: 1.5em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
}