.Stock {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Stock-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Stock-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Stock-information {
  flex-grow: 1;
  display: inline;
  flex-direction: column;
  justify-content: center;
}

.Stock-information h3 {
  margin-bottom: .22rem;
}

.Stock-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

input {
  text-align: center;
  float: right;
  clear: both;
}