.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 { /* header ?*/
  padding: .77rem 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: .77em;
  background-color: #323a46;
  text-align: center;
  font-size: 1.88rem;
  color: #0080ff;
  
}

h2 {
  text-align: center;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0 17% 10% 17%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 500;
  color: #fff;
  justify-content: space-between;
}
.invest {
  text-align: center;
}

/* required so that the accounts take up a smaller portion of the screen*/
.accounts {
  width: 60%;
  display: inline-block;
  text-align: center;
}
.Holdings {
  width: 40%;
  float: left;
}
.content {
  /* display: flex; */
  justify-content: space-between;
  padding:2%;

}