.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #323a46;
  width:100%;
  margin-bottom: .77em;
  font-size: 1.88rem;
  color: #0080ff;
  padding: .3em;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
}

.loginAction {
  cursor: pointer;
  position: absolute;
  outline: 0;
  border: 0;
  top: .7em;
  right: 1em;
  background-color: #dddfe6;
  color: #333a47;
  font-size: 1.2rem;
  border-radius: 0.1em;
  font-weight: 900;
  transition: background-color .25s;
}

.loginAction:hover {
  background-color: white;
}


h1 { 
  margin: 0;
  padding: 0;
  background-color: #323a46;
  text-align: center;
  align-items: center;
  font-size: 1.88rem;
  color: #0080ff;
}

.App-link {
  color: #61dafb;
}



h2 {
  text-align: center;
}

.App {
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 17% 10% 17%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 500;
  color: #fff;
  justify-content: space-between;
}

/* required so that the accounts take up a smaller portion of the screen*/
.accounts {
  width: 60%;
  display: inline-block;
  text-align: center;
}
.leftContainer {
  width: 40%;
  float: left;
}

.Invest {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.content {
  /* display: flex; */
  justify-content: space-between;
  padding:2%;
}
