.Holdings {
  width: 40%;
  align-items: center;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(50, 105, 0, 0.7);
  outline: 1px solid black;
  float: left;
  display: table-cell;  
  text-align: center;
}

::-webkit-scrollbar {
    width: 2px;
    background: transparent;
}

.HoldingsButton {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  
  
  font-weight: 500;
}

.HoldingsButton:hover {
  background-color: rgba(108, 65, 233, .7);
}

@media only screen and (max-width: 1020px) {
  .Holdings {
    width: 90%;
    margin-bottom: 2rem;
  }
}