.AccountEntry {
  display: table-cell;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  
}

/* .Account-information {
  flex-grow: 1;
  flex-direction: row;
} */

.value {
  text-align: center;
  /* float: right; */
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
  border-radius: 0 0 .2em .2em;
  font-size: 1.5vw;
  background-color: #f7f9fc;
  font-family: "Courier New", Courier, monospace;
  color:#6d757d;
  font-weight: 900;
  width: 5.5em;


}

.name {
  background-color: #323a46;
  color: #0080ff;


  opacity: 90%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 0;
  margin:0;
  font-size: 1.5em;
  border-radius: .2em .2em 0 0;
}