.AccountEntry {
  display: table-cell;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.AccountEntry-information {
  flex-grow: 1;
  flex-direction: row;

}

.value {
  text-align: center;
  float: right;
  border: 1px solid black;
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
  border-radius: 0 0 .2em .2em;
  font-size: 1.5vw;
  width: 5em;
  font-family: "Courier New", Courier, monospace;
  color:#6d757d;
  font-weight: 900;
  
}

.name {
  background-color: #323a46;
  color: #0080ff;


  opacity: 90%;
  border: 1px solid black;
  padding-top: 0;
  margin:0;
  font-size: 1.5em;
  border-radius: .2em .2em 0 0;
}