.Accounts.AccountHolder {
  width: 40%;
  align-items: center;
  overflow-y: scroll;
  padding: .88em;
  padding-right: 2em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color:#6d757d;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.AccountsButton {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.accountsTitle {
  font-size: 1.8em;
  font-weight: 3000;
  color:#6d757d;
  font-family: "Courier New", Courier, monospace;
  margin:0;
}

.AccountsButton:hover {
  background-color: rgba(108, 65, 233, .7);
}

@media only screen and (max-width: 1020px) {
  .Accounts {
    width: 90%;
    margin-bottom: 2rem;
  }
}