.Accounts.AccountHolder {
  width: 40%;
  align-items: center;
  overflow-y: scroll;
  padding: .88em;
  padding-right: 2em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color:#6d757d;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.AccountsButton {
  align-items: left;
  border: 1px solid rgba(256, 256, 256, 0.8);
  font-size: 1em;
  height: 4em; /* 7em and 14em might look better if not adding a line to the bottom*/
  width: 16em;
  background-color: white;
  color: #0080ff;
  border: 1px solid rgba(0, 128, 255, 0.3);
  border-radius: 0.2em;
  transition: background-color .25s;
  
  margin:1%;
  cursor: pointer;
  text-align: center;
}

.accountsTitle {
  font-size: 1.8em;
  font-weight: 3000;
  color:#6d757d;
  font-family: "Courier New", Courier, monospace;
  margin:0;
}

.AccountsButton:hover {
  background-color:rgba(0, 128, 255, 0.3);
}

@media only screen and (max-width: 1020px) {
  .Accounts {
    width: 90%;
    margin-bottom: 2rem;
  }
}