.Account {
  /* display: flex; */
  align-items: center;
  display: block;
  width: 100%;


}
.burgerButton {
  float: right;
  cursor: pointer;
}

.Account-action {
  cursor: pointer;
  font-size: 1.05rem;
  transition: background-color .25s;
  border: 0px;
  background-color: #e6c6cd;
  color: #e94568;
  height: 1.75em;
  width: 5em;
  border-radius: 0.1em;
  align-items: center;
}

.Account-action:hover {
  background-color: #e96a85;
}

.Account-information {
  flex-grow: 1;
  flex-direction: row;
}

.AccountEntry {
  margin-left: 1em;
  margin-right: 1em;
}

.entries {
  min-width: 100%;
  overflow: scroll;
  text-align: center;
  justify-content: space-evenly;

}
.accountTitle {
  border: 0;
  text-align: center;
  outline: none;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  color:#6d757d;
  font-weight: 900;
}