.Account {
  /* display: flex; */
  align-items: center;
  display: block;
  width: 100%;


}

.Account-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.Account-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Account-information {
  flex-grow: 1;
  flex-direction: row;
}

.AccountEntry {
  margin-left: 1em;
  margin-right: 1em;
}

.entries {
  min-width: 101%;
  overflow: scroll;
  text-align: center;
  justify-content: space-evenly;

}
.accountTitle {
  border: 0;
  text-align: center;
  outline: none;
  font-size: 1.3em;
  font-family: "Courier New", Courier, monospace;
  color:#6d757d;
  font-weight: 900;
}