.Account {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  display: block;
  width: 100%;
}

.Account-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.Account-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Account-information {
  flex-grow: 1;
  flex-direction: row;
}

.entries {
  max-width: 100%;
  overflow: scroll;
}